<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean id="dob" class="java.util.Date">
		<property name="year" value="90"/>
		<property name="month" value="12"/>
		<property name="date" value="24"/>
	</bean>
	<bean id="doj" class="java.util.Date">
		<property name="year" value="115"/>
		<property name="month" value="11"/>
		<property name="date" value="115"/>
	</bean>
	<bean id="dom" class="java.util.Date">
		<property name="year" value="117"/>
		<property name="month" value="5"/>
		<property name="date" value="11"/>
	</bean>
	
	<!-- Spring bean cfg -->
	<bean id="rajaProfile" class="com.ps.beans.PersonProfile">
		<constructor-arg value="7484957490" index="0" />
		<constructor-arg value="raja" index="1" />
		<constructor-arg value="23" index="2" />
		<constructor-arg index="3"><null/></constructor-arg>
		<constructor-arg ref="doj" index="4" />
		<constructor-arg ref="dom" index="5" />
	</bean>
	<bean id="raniProfile" class="com.ps.beans.PersonProfile">
		<constructor-arg value="53676875778" index="0"/>
		<constructor-arg value="rani" index="1"/>
		<constructor-arg value="21" index="2"/>
		<constructor-arg ref="dob" index="3"/>
		<constructor-arg index="4"><null/></constructor-arg>
		<constructor-arg index="5"><null/></constructor-arg>
	</bean>
	
	<context:component-scan base-package="com.ps.beans"/>

</beans>
